<div>
    <h2>{{ $ctrl.title }}</h2>
    <h5>{{ $ctrl.header }}</h5>
</div>
<div class="input-entry">
    <input type="text" placeholder="Filter your to-dos"/>
</div>
<div>
    <ol>
        <li ng-repeat="item in $ctrl.list" ng-class="{strike: item.completed === true}">
            <button ng-if="item.completed === false" class="complete">Complete</button>{{item.task}}
        </li>
    </ol>
</div>
<div class="input-entry">
    <input type="text" placeholder="Add your to-do"/>
    <button id="add-btn">Add</button>
</div>